<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        body{
            background:url('../Assets/img/forbiden.jpg') no-repeat center 0;
        }
    </style>
</head>
<body>
    <div class="conteiner" style="text-align:center">
        <h1><strong>Error: 404. </br> No se encuentra la p&aacute;gina buscada.</strong></h1>
        <a href="../../index.php" class="btn btn-info">Regresar</a>
    </div>
</body>
</html>